body {
    background-image: url(../sourcefolder/neutralbackground.jpg);
}

#tasksAvailable {
    display: none;
}

#addTask {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    width: 100%;
    height: 100%;
}

#addTask .taskContainer {
    background-color: rgb(134, 226, 207);
    width: 70%;
    margin: 10% auto;
    padding: 20px;
}

#tasksAvailable {
    display: block
}
  
#headshot {
    object-position: right top;
    border-radius: 50%;
    position: relative;
    width: 10% ;
    height: 10% ;
  }